body{
    margin:0;
    padding:0;
}
div{
    position:relative;
}
video{
    position:absolute;
    z-index:-1;
}
canvas{
    position:absolute;
    z-index:0;
}
button{
    position:absolute;
    top:10px;
    z-index:1;
}